

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/LoginCss.css" />

<h2>Login</h2>
<hr />

<div class="row">
    <div class="form">
        <form class="login-form" asp-action="Login">
            <input type="text" name="username" placeholder="User Name">
            <input type="password" name="password" placeholder="Password">
            <button>Login</button>
            <p class="message">Not registered? <a asp-action="Register">Create an account</a></p>
            <br />
            <div>
                @{
                    if (@ViewBag.AlertUser != null)
                    {
                        <p class="message" style="color:red">@ViewBag.AlertUser</p>
                    }
                }

            </div>
        </form>
    </div>

</div>