
<br />
<h2>Pie Statistics - Sales statistics </h2>
<!-- Create a div where the graph will take place -->
<div id="my_dataviz" style="height: 450px; width: 802px; position: absolute; margin-left: -184px; margin-top: 58px;"></div>
<script src="~/js/pie.js"></script>

<div style="margin-top: 960px;">
    <h2>Donut Statistics - Console type games count in our store: </h2>
</div>
<div id="donut_data" style="margin-left: 260px; ">
</div>
<script src="~/js/dougnut.js"></script>
