

<h2>Pie Statistics - Game Stock: </h2>
<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>
<script src="~/js/pie.js"></script>

<h2>Donut Statistics - Console type games count in our store: </h2>
<div id="donut_data" style="margin-left:260px"></div>
<script src="~/js/dougnut.js"></script>
